{% extends 'news/base.html' %}
{% load static %}
{% load hitcount_tags %}
{% block title %}
Mahalliy xabarlar
{% endblock title %}

{% block content %}


<div class="container">
    <div class="main__section">
        <div class="main__section-content">
            <div class="main__content">

                  {% for item in local_news %}
                    <div class="latest__news-text col-sm-5" style="display:flex;margin:10px" >
                        <div class="news__item is_photo clickable-block ">
                            <div class="media-info " style="display:flex" >
                                <div class="media is_left">
                                    <figure >
                                        <a href="{{item.get_absolute_url}}" >
                                            <img alt="" src="{{item.image.url}}" width="150" height="100" style="border-radius:5px">
                                        </a>
                                    </figure>
                                </div><!-- End of media-->

                                <div class="info">
                                    <p class="news__item-meta" style="font-size:11px;margin-left:8px;margin-top:5px;"><i class="icon clock-icon is_smaller"></i>
                                        {{item.published_time}}
                                    </p>
                                    <h1 class="news__item-title" style="font-size:13px;margin-left:8px;margin-top:5px;">
                                        <a data-pjax="0" href="{{item.get_absolute_url}}">
                                            {{item.title}}
                                        </a>
                                    </h1>
                                    <p style="font-size:12px;margin-left:5px;">view:<i class="fa fa-eye" aria-hidden="true"></i>{% get_hit_count for item %}</p>
                                </div><!-- End of info-->
                            </div><!-- End of media-info-->
                        </div><!-- End of news__item-->
                    </div>
                  {% endfor %}

            </div>
        </div>
    </div>>
</div>

{% endblock content%}