{% extends 'news/base.html' %}
{% load static %}
{% load hitcount_tags %}
{% block title %}
{{news.title}}
{% endblock title %}



{% block content %}
            <div class="container">
                    <div class="article__content" >
                        <div style="width:50%;margin:0 auto">
                            <h2 class="post__title" style="font-size:20px;text-align:center">{{news.title}}</h2>
                        </div>

                        <div class="article__content-meta flex"style="font-size:15px;text-align:center">
                            <span class="date-time col-6" >
                                <i class="icon clock-icon is_smaller" >
                                    {{news.published_time}} |
                                </i>
                            </span>
                            <span>
                                <i class="fa fa-eye" aria-hidden="true" >
                                    {% get_hit_count for news %}
                                </i>
                            </span>
                        </div>

                        <div class="media"   align="center" style="margin-bottom:20px">
                            <img src="{{news.image.url}}" width="50%" style="border-radius:5px"
                                alt="AQSh hukumati Grin karta uchun ajratilgan 55 mingta vizani tarqatib bo‘ldi">
                        </div>
                        <br>

                        <div class="post__body"  style="width:50%;margin:0 auto">
                            <h4 class="post__title" style="font-size:15px;text-align:center">{{news.body|truncatewords:10}}</h4>
                            <p style="text-align: justify;">
                                {{news.body}}
                            </p>
                            <br>

                        </div>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="card-footer text-center">
                        <a href="{% url 'news_update' news.slug %}" class="btn btn-primary" style="margin:10px;border-radius:5px">
                            Tahrirlash
                        </a>

                        <a href="{% url 'news_delete' news.slug %}" class="btn btn-danger" style="margin:10px;border-radius:5px">
                            O‘chirish
                        </a>
                        <a href="{% url 'news_create'  %}" class="btn btn-success" style="margin:10px;border-radius:5px">
                            Qo'shish
                        </a>
                    </div>
                    {% endif %}
                    <div class="card-footer" style="padding-left:300px">
                            {% for comment in comments %}
                            <p class="font-weight-bold">
                                {{ comment.user}}
                                <span class="text-muted font-weight-normal">
                                {{comment.created_time}}
                                </span>
                            </p>
                            {{comment.body | linebreaks}}
                            {% endfor %}

                        {% if user.is_authenticated %}
                            <div class="col-md-8 card mb-4 mt-3">
                                <div class="card-body">
                                    <h3>Izoh qoldirish</h3>
                                    <form method="POST" style="margin-top:1.3 em">{% csrf_token %}
                                        {{ comment_form.as_p }}
                                        <button type="submit" class="btn btn-primary btn-lg" style="margin:10px;border-radius:5px">
                                            Yuborish
                                        </button>
                                    </form>
                                </div>
                            </div>
                        {% else %}
                            <div class="card-body">
                                <p class="text-danger">
                                    Faqatgina ro'yhatdan o'tgan foydalanuvchilargina izoh qoldirishi mumkin.
                                </p>
                                <p>
                                    Izoh qoldirish uchun <a href="{% url 'user_register' %}">ro'yhatdan o'ting</a> yoki <a href="{% url 'login' %}">login</a>
                                    qiling.
                                </p>
                            </div>
                        {% endif %}
                    </div>
            </div>

{% endblock content%}
