{% extends 'news/base.html' %}
{% load static %}

{% block title %}
{{news.title}}
{% endblock title %}



{% block content %}

                    <div class="article__content" >
                        <div style="width:50%;margin:0 auto">
                            <h2 class="post__title" style="font-size:20px;text-align:center">{{news.title}}</h2>
                        </div>

                        <div class="article__content-meta"style="font-size:15px;text-align:center">
                            <span class="date-time" >
                                <i class="icon clock-icon is_smaller" >
                                    {{news.published_time}}
                                </i>
                            </span>
                        </div>

                        <div class="media"   align="center" style="margin-bottom:20px">
                            <img src="{{news.image.url}}" width="50%" style="border-radius:5px"
                                alt="AQSh hukumati Grin karta uchun ajratilgan 55 mingta vizani tarqatib bo‘ldi">

                        </div>
                        <br>

                        <div class="post__body"  style="width:50%;margin:0 auto">
                            <h4 class="post__title" style="font-size:15px;text-align:center">{{news.body|truncatewords:10}}</h4>
                            <p style="text-align: justify;">
                                {{news.body}}
                            </p>
                            <br>

                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'news_update' news.slug %}" class="btn btn-primary" style="margin:10px;border-radius:5px">
                            Tahrirlash
                        </a>

                        <a href="{% url 'news_delete' news.slug %}" class="btn btn-danger" style="margin:10px;border-radius:5px">
                            O‘chirish
                        </a>
                    </div>

{% endblock %}
