{% extends 'news/base.html' %}
{% load static %}

{% block title %}
{{news.title}}
{% endblock title %}



{% block content %}

                    <div class="article__content" >
                        <h2 class="post__title" style="font-size:20px;text-align:center">{{news.title}}</h2>

                        <div class="article__content-meta"style="font-size:15px;text-align:center">
                            <span class="date-time" >
                                <i class="icon clock-icon is_smaller" >
                                    {{news.published_time}}
                                </i>
                            </span>
                            <span class="h-space"></span>
                            <span class="update-time"></span>
                            <span class="h-space"></span>
                        </div>

                        <div class="media"   align="center" style="margin-bottom:20px">
                            <img src="{{news.image.url}}" width="50%" style="border-radius:5px"
                                alt="AQSh hukumati Grin karta uchun ajratilgan 55 mingta vizani tarqatib bo‘ldi">

                        </div>
                        <br>

                        <div class="post__body"  style="width:50%;margin:0 auto">
                            <h4 class="post__title" style="font-size:15px;text-align:center">{{news.body|truncatewords:10}}</h4>
                            <p style="text-align: justify;">
                                {{news.body}}
                            </p>
                            <br>

                        </div>
                    </div>
{% endblock %}
