{% extends 'news/base.html' %}
{% block title %}
Foydalanuvchilarni ma'lumotlarini o'zgartirish
{% endblock title %}

{% block content %}
<div class="container">
    <h1>Foydalanuvchilarni ma'lumotlarini o'zgartirish</h1>
    <p>
        O'zingiz haiqdagi ma'lumotlarni quyidagi forma orqali o'zgartirishingiz mumkin
    </p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
         {{ profile_form.as_p }}
        <button type="submit">Update</button>
    </form>
</div>
{% endblock content %}